<html>

<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="socket.io/socket.io.js"></script>

    <script>
        //send len server
        var socket = io("http://localhost:3000");

        // socket.on("sv-send-data", function(data){
        //     alert("aaaa");

        // });
        $(document).ready(function () {

            $("#send").click(function () {
                var event = $("#event").val();
                var data = $("#data").val();
                socket.emit(event+"", data+"");
            });
        });
    </script>
</head>

<body>
    event : <input type="text" id="event" /> <br />
    data : <input type="text" id="data"> <br>
    <input type="button" id="send" value="Send">


</body>

</html>